/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC  &kp W         &kp E             &kp R         &kp T    &kp Y  &kp U           &kp I      &kp O    &kp BSPC
&kp Q    &kp S         &kp D             &kp F         &kp G    &kp H  &kp J           &kp K      &kp L    &kp P
&kp A    &kp X         &kp C             &kp V         &kp B    &kp N  &kp M           &kp COMMA  &kp DOT  &kp SEMI
&kp Z    &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_WIN  &mo 2    &mo 1  &kp LEFT_SHIFT  &kp SPACE  &kp DOT  &kp FSLH
            >;
        };

        num {
            bindings = <
&kp APOS   &kp AT     &kp POUND  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp STAR  &kp LPAR   &kp DOUBLE_QUOTES
&kp EXCL   &kp N2     &kp N3     &kp N4    &kp N5       &kp N6     &kp N7    &kp N8    &kp N9     &kp RPAR
&kp N1     &kp GRAVE  &kp LBRC   &kp RBRC  &kp MINUS    &kp UNDER  &kp LBKT  &kp RBKT  &kp EQUAL  &kp N0
&kp TILDE  &trans     &trans     &trans    &trans       &trans     &trans    &trans    &trans     &kp PLUS
            >;
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans   &trans    &trans          &trans    &trans        &trans     &trans
&trans  &trans  &trans  &kp TAB  &trans    &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans
&trans  &trans  &trans  &trans   &trans    &trans          &trans    &trans        &trans     &kp ENTER
&trans  &trans  &trans  &trans   &trans    &trans          &trans    &trans        &trans     &trans
            >;
        };
    };
};
